/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

h1 {
  background-color: #cebebe;
}

nav {
  background-color: #a26769;
  color: white;
}

footer {
  background-color: #6d2e46;
  color: #ece2d0;
}
